absl-py==2.1.0
adagio==0.2.4
aiohttp==3.9.3
aiohttp-cors==0.7.0
aiorwlock==1.4.0
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
antlr4-python3-runtime==4.11.1
anyio==4.2.0
appdirs==1.4.4
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
black==24.1.1
blessed==1.20.0
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cmdstanpy==1.2.0
colorful==0.5.6
colorlog==6.8.2
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.8
datasetsforecast==0.0.8
Deprecated==1.2.14
distlib==0.3.8
exceptiongroup==1.2.0
fastapi==0.108.0
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.47.2
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.2.0
fugue==0.8.7
fugue-sql-antlr==0.2.0
gast==0.5.4
gluonts==0.14.2
google-api-core==2.17.0
google-auth==2.27.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.62.0
gpustat==1.1.1
gpytorch==1.11
greenlet==3.0.3
grpcio==1.60.1
h11==0.14.0
h5py==3.10.0
holidays==0.38
httptools==0.6.1
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
jaxtyping==0.2.24
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
keras==2.14.0
keras-self-attention==0.51.0
kiwisolver==1.4.5
libclang==16.0.6
lightning==2.1.4
lightning-utilities==0.10.1
linear-operator==0.5.2
llvmlite==0.41.1
Mako==1.3.2
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.8.2
mizani==0.9.3
ml-dtypes==0.2.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
mypy-extensions==1.0.0
networkx==3.2.1
neuralforecast==1.6.4
numba==0.58.1
numpy==1.26.3
nvidia-ml-py==12.535.133
oauthlib==3.2.2
opencensus==0.11.4
opencensus-context==0.1.3
opt-einsum==3.3.0
optuna==3.5.0
packaging==23.2
pandas==2.0.3
pathspec==0.12.1
patsy==0.5.6
pillow==10.2.0
platformdirs==4.2.0
plotnine==0.12.4
pmdarima==2.0.4
polars==0.19.19
prometheus-client==0.19.0
prophet==1.1.5
protobuf==4.25.1
psutil==5.9.8
py-spy==0.3.14
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.6.1
pydantic_core==2.16.2
pyod==1.1.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytorch-forecasting==1.0.0
pytorch-lightning==2.1.4
pytorch_optimizer==2.12.0
pytz==2024.1
PyYAML==6.0.1
qpd==0.4.4
ray==2.9.2
referencing==0.31.1
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.13.2
rsa==4.9
scikit-base==0.7.2
scikit-learn==1.4.0
scipy==1.12.0
seaborn==0.13.2
six==1.16.0
sktime==0.26.0
smart-open==6.4.0
sniffio==1.3.0
SQLAlchemy==2.0.25
sqlglot==19.9.0
stanio==0.3.0
starlette==0.36.2
statsforecast==1.6.0
statsmodels==0.14.1
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.14.0
termcolor==2.4.0
threadpoolctl==3.2.0
tomli==2.0.1
toolz==0.12.0
torch==2.2.0
torchmetrics==1.3.0.post0
tqdm==4.66.1
triad==0.9.3
typeguard==2.13.3
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
utilsforecast==0.0.19
uvicorn==0.27.1
uvloop==0.19.0
virtualenv==20.25.0
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.1
wrapt==1.14.1
xlrd==2.0.1
yarl==1.9.4
zipp==3.17.0
